body{
  font-family: "Roboto Mono", monospace;
  text-align: center;
  color : black;
  font-size : 25px;
  background-image : url(https://thumbs.dreamstime.com/b/%C3%ADcone-quente-frio-do-vetor-term%C3%B4metro-123653037.jpg);
  background-color: white;
  background-position: center top;
  background-repeat : no-repeat;
}

section{
  background-color : white;
  border-radius : 10px;
  box-shadow : 3px 3px 10px black;
  margin : auto;
  padding : 15px;
  width : 750px;
}

#cal{
  font-size : 18px;
  background-color : black;
  color : white;
  border-radius : 8px;
  border-color : white;
}

#titulo{
color : black;
  font-size : 40px;
}